#about
    .deviter
    .row
        .col-lg-12
            h3.title.with-icon
                i.fa.fa-bar-chart-o.icn-title
                | STATISTIQUES
            .box-fact-area
                .row
                    .col-sm-4
                        .box-fact
                            i.fa.fa-bell-o.icn-fixed
                            | #{stats.pendingRequests} demande(s) en attente
                    .col-sm-4
                        .box-fact
                            i.fa.fa-check.icn-fixed
                            | #{stats.doneRequests} demandes terminées
                    .col-sm-4
                        .box-fact
                            i.fa.fa-star-o.icn-fixed
                            | Serveurs les plus demandés :
                            ul.serverList
                                for mostRequestedServer in stats.mostRequestedServers
                                    li #{mostRequestedServer.name} ( #{mostRequestedServer.occurrences} demandes )
    .row
        .col-lg-12

            div(style='position:relative;width:100%;height:0;padding-bottom:56.25%')
                iframe(width='384' height='216' src='https://insights-embed.newrelic.com/embedded_widget/hA-XxWYL92OSJcp67E5ZzHMiTAZYzS-H' frameborder='0' style='position:absolute;width:100%;height:100%')

            div(style='position:relative;width:100%;height:0;padding-bottom:56.25%')
                iframe(width='384' height='216' src='https://insights-embed.newrelic.com/embedded_widget/1WqvOevJ3Y9iJf0xR0ch3a00mePq6VK2' frameborder='0' style='position:absolute;width:100%;height:100%')

            div(style='position:relative;width:100%;height:0;padding-bottom:56.25%')
                iframe(width='384' height='216' src='https://insights-embed.newrelic.com/embedded_widget/OsqNExOGkBWp4T-guLxdOs_RkLS_t6ey' frameborder='0' style='position:absolute;width:100%;height:100%')

    .row
        .col-lg-12
            h3.title.with-icon
                i.fa.fa-users.icn-title
                | SERVICES SUPPORTÉS
            .box-block
                ul.list-unstyled.list-clients.clearfix
                    li
                        a(href='http://www.kimsufi.com')
                            img(src='/img/logo-KS.png' alt class='img-responsive')
                    li
                        a(href='http://www.soyoustart.com')
                            img(src='/img/logo-SYS.png' alt class='img-responsive')
