.box-note
    #slider-note
        .carousel-inner
            .item.active.text-center
                p
                    | Pour connaitre la disponibilité des offres d'OVH ( SoYourStart / Kimsufi ), choisissez un serveur
                    | parmis la liste ci-dessous, ajoutez votre adresse mail, votre numéro de téléphone et connectez votre
                    | compte <a href="https://www.pushbullet.com/">Pushbullet</a> pour être notifié sur vos différents appareils.

                p Vous serez prévenu automatiquement lorsque le serveur souhaité sera disponible.
