.box-note
    #slider-note
        .carousel-inner
            .item.active Pour connaitre la disponibilité des offres d'OVH ( SoYourStart / Kimsufi ), choisissez un serveur parmis la liste ci-dessous et ajoutez votre adresse mail. Vous serez prévenu par email lorsque le serveur souhaité sera disponible.
