.box-note
    #slider-note
        .carousel-inner
            .item.active Pour connaitre la disponibilité des offres d'OVH ( SoYourStart / Kimsufi ), choisissez un serveur parmis la liste ci-dessous, ajoutez votre adresse mail et votre numéro de téléphone (optionnel). Vous serez prévenu automatiquement lorsque le serveur souhaité sera disponible.
