.flag
    a(href='/en')
        img(src='/img/en.png' alt='en')
    a(href='/fr')
        img(src='/img/fr.png' alt='fr')
    a(href='/pt_BR')
        img(src='/img/pt.png' alt='pt')
    a(href='/pt_BR')
        img(src='/img/br.png' alt='br')

footer.footer
    p
        a(href='https://github.com/hardware/ovh-availability/releases/tag/v1.5.0') v1.5.0
        span -
        a(href='https://github.com/hardware/ovh-availability') Github
        span -
        a(href='https://twitter.com/hardvvare/') Twitter
    p
        img(src='/img/bitcoin.png' alt='bitcoin')
        span.bitcoin 1DGEfZB3HPQ2KjVKwYLGqoEiuv6nbvc4b2
