footer.footer
    a(href='https://github.com/hardware/ovh-availability/releases/tag/v1.1.0') v1.1.0
    span -
    a(href='https://github.com/hardware/ovh-availability') Github
    span -
    a(href='https://twitter.com/RedH0xyd/') Twitter
