div(id='wait-page' class='text-center') Chargement en cours...
script(src='/bower/jquery/dist/jquery.min.js')
script(src='/js/pace.min.js')
script(src='/bower/bootstrap/dist/js/bootstrap.min.js')
script(src='/js/app.js')
