div(id='wait-page' class='text-center') Chargement en cours...
script(src='/bower/jquery/dist/jquery.min.js')
script(src='/bower/pace/pace.min.js')
script(src='/bower/bootstrap/dist/js/bootstrap.min.js')
script(src='/js/jquery-ui.min.js')
script(src='/js/jquery.select-to-autocomplete.js')
script(src='/js/app.js')
