
.icon-mail:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-newspaper:before { content: '\e801'; } /* '' */
.icon-folder-open:before { content: '\e802'; } /* '' */