extends layout

block content

    header.portrait

        .bg-line
        .body-portrait
            .box-note.error
                #slider-note
                    .carousel-inner
                        .item.active!= '<strong>E' + statusCode + '</strong> - ' + message

            .text-center
                button(type='button' class='btn btn-flat style2' onclick='window.location.href="/"') #{__('ANY_BackToHome')}

            if error.stack
                .deviter
                pre= '[ STACK TRACE ] ' + error.stack
