extends layout

block content
    hr
    .alert.alert-danger!= '<strong>ERREUR ' + ( ( error.status ) ? error.status : '' ) + ' :</strong> ' + error.message

    if error.stack
        pre= '[ STACK TRACE ] ' + error.stack
