extends layout

block content

    header.portrait

        .bg-line
        .body-portrait
            .box-note.error
                #slider-note
                    .carousel-inner
                        .item.active!= '<strong>ERREUR ' + ( ( error.status ) ? error.status : '' ) + ' :</strong> ' + error.message

            if error.stack
                pre= '[ STACK TRACE ] ' + error.stack
