extends layout

block content

    header.portrait

        .bg-line
        .body-portrait
            if formError
                .box-note.error
                    #slider-note
                        .carousel-inner
                            .item.active #{formMessage}
            if formSuccess

                if ! request.phone
                    .box-note.warning
                        #slider-note
                            .carousel-inner
                                .item.active.text-center Vous n'avez pas saisi de numéro de téléphone lors de votre première demande, vous devriez peut-être le faire pour ne pas rater l'offre une seconde fois.

                .box-note.success
                    #slider-note
                        .carousel-inner
                            .item.active.text-center !{formMessage}

            .text-center
                button(type='button' class='btn btn-flat style2' onclick='window.location.href="/"') Retour à l'accueil
