extends layout

block content

    header.portrait

        .bg-line
        .body-portrait
            if formError
                .box-note.error
                    #slider-note
                        .carousel-inner
                            .item.active #{formMessage}
            if formSuccess
                if ! request.pushbullet_token
                    .box-note.warning
                        #slider-note
                            .carousel-inner
                                .item.active.text-center #{__('REACTIVATE_Missed')}
                .box-note.success
                    #slider-note
                        .carousel-inner
                            .item.active.text-center !{formMessage}

            .text-center
                button(type='button' class='btn btn-flat style2' onclick='window.location.href="/"') #{__('ANY_BackToHome')}
