.thumbnail {
    padding: 0px;
    width:127px;
    min-width: 127px;
    max-width: 127px;
    display: inline-block;
    margin-right:10px;
}

.g-recaptcha {
    display: inline-block;
}

.portrait, .content, #backtotop{
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.1) !important;
}

.portrait {
    text-align: left;
}

.deviter {
    margin-top: 35px;
}

.box-block {
    margin-bottom: 0px;
}

.ui-autocomplete {
    padding: 0;
    list-style: none;
    background-color: #fff;
    width: 218px;
    border: 1px solid #B0BECA;
    max-height: 350px;
    overflow-x: hidden;
}

.ui-autocomplete .ui-menu-item {
    border-top: 1px solid #B0BECA;
    display: block;
    padding: 4px 6px;
    color: #353D44;
    cursor: pointer;
}

.ui-autocomplete .ui-menu-item:first-child {
    border-top: none;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
    background-color: #63A4B5;
}

.g-recaptcha {
    margin-top:25px;
}

.box-note a {
    color: #FFF;
    font-weight: 700;
}

.bs-callout {
  padding: 15px;
  margin: 15px 0px;
  border-width: 1px 1px 1px 5px;
  border-style: solid;
  border-color: #EEE;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  border-radius: 3px;
}

.bs-callout-info {
  border-left-color: #5BC0DE;
}


ul.serverList {
    list-style-type: none;
    padding: 0px;
    margin-top: 5px;
}

ul.serverList > li {
    padding-left: 10px;
    margin: 0px;
}

ul.serverList > li:before {
    content: '- ';
}

span.help-block {
    color: #A94442;
}

footer a {
    font-size:12px;
    color:#DDD;
}

footer a:hover {
    text-decoration: none;
    color:#DDD;
}

footer span {
    margin: 0 5px;
}

pre {
    font-size:12px;
    white-space:pre;
    color:firebrick;
}

hr {
    margin-top:10px;
    margin-bottom:15px;
}

@media all and (max-width: 629px) {

    .nr-graph {
        display:none;
    }

}
