.portrait, .content, #backtotop{
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.1) !important;
}

.portrait {
    text-align: left;
}

.deviter {
    margin-top: 35px;
}

.box-block {
    margin-bottom: 0px;
}

.ui-autocomplete {
    padding: 0;
    list-style: none;
    background-color: #fff;
    width: 218px;
    border: 1px solid #B0BECA;
    max-height: 350px;
    overflow-x: hidden;
}

.ui-autocomplete .ui-menu-item {
    border-top: 1px solid #B0BECA;
    display: block;
    padding: 4px 6px;
    color: #353D44;
    cursor: pointer;
}

.ui-autocomplete .ui-menu-item:first-child {
    border-top: none;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
    background-color: #63A4B5;
}

span.help-block {
    color: #A94442;
}

footer a {
    font-size:12px;
    color:#DDD;
}

footer a:hover {
    text-decoration: none;
    color:#DDD;
}

footer span {
    margin: 0 5px;
}

pre {
    font-size:12px;
    white-space:pre;
    color:firebrick;
}
